<%- include partials/header %>
<%- include partials/menu %>

<div id="banner">
	<div class="rev_slider_wrapper">

		<div id="main_slider" class="rev_slider" data-version="5.0">
			<ul>


				<li data-index='rs-377' data-transition='curtain-1' data-slotamount='1' data-easein='default'
					data-easeout='default' data-masterspeed='default' data-thumb='images/home/slide-1.jpg' data-rotate='0'
					data-saveperformance='off' data-title='Business Solutions' data-description=''>

					<img src="images/home/slide-1.jpg" alt="image" data-bgposition="center center" data-bgfit="cover"
						data-bgrepeat="no-repeat" class="rev-slidebg">



					<div class="tp-caption tp-resizeme rs-parallaxlevel-3" data-x="['center','center','center','center']"
						data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['-120','-120','-120','-120']" data-width="none" data-height="none" data-transform_idle="o:1;"
						data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
						style="z-index: 5;">
						<img src="images/home/1.png" alt="">
					</div>


					<div class="tp-caption tp-resizeme rs-parallaxlevel-3" data-x="['center','center','center','center']"
						data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['50','50','50','50']" data-width="none" data-height="none" data-transform_idle="o:1;"
						data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1500" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
						style="z-index: 5;">
						<h1>Farmer's City</h1>,.
					</div>



					<div class="tp-caption tp-resizeme rs-parallaxlevel-2" data-x="['center','center','center','center']"
						data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['110','110','110','110']" data-width="none" data-height="none" data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2000" data-splitin="none"
						data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
						<h5 class="cp-title">Fruits ~ Vegetables ~ Foods</h5>
					</div>


					<div class="tp-caption tp-resizeme rs-parallaxlevel-2" data-x="['center','center','center','center']"
						data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['160','160','160','160']" data-width="none" data-height="none" data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2500" data-splitin="none"
						data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
						<h5 class="cp-title-2">We are providing highest quality products for You</h5>
					</div>





				</li>




				<li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-2.jpg" data-rotate="0"
					data-saveperformance="off" data-title="Successful Careers" data-description="">

					<img src="images/home/slide-2.jpg" alt="" data-bgposition="top center" class="rev-slidebg" data-no-retina>

					<!-- <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
						data-hoffset="['80','80','80','80']" data-y="['middle','middle','middle','middle']"
						data-voffset="['-160','-160','-160','-160']" data-width="none" data-height="none" data-transform_idle="o:1;"
						data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
						style="z-index: 5;">
						<img src="images/home/4.png" alt="">
					</div>
					<div class="tp-caption tp-resizeme banner-caption-box" data-x="right" data-hoffset="0" data-y="top"
						data-voffset="260" data-transform_idle="o:1;"
						data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="1000">
						<div class="banner-caption-h1">Get Blackberry <br>Pack With 50% Off</div>
						<div class="banner-caption-p">
							<p>Great explorer of the truth, the master-builder of human happiness no sed one rejects <br>dislikes,
								or avoids pleasure itself, because it is pleasure.</p>
						</div>
						<a href="#" class="thm-btn contuct-us">shop now</a>
					</div> -->
				</li>





				<li data-index="rs-20" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-3.jpg" data-rotate="0"
					data-saveperformance="off" data-title="Your Success" data-description="">

					<img src="images/home/slide-3.jpg" alt="" data-bgposition="top center" class="rev-slidebg" data-no-retina>




					<!-- <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
						data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['-120','-120','-120','-120']" data-width="none" data-height="none" data-transform_idle="o:1;"
						data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
						style="z-index: 5;">
						<img src="images/home/3.png" alt="">
					</div> -->



					<div class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="0" data-y="center"
						data-voffset="-40" data-transform_idle="o:1;"
						data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="500">
						<div class="banner-caption-h2">Natural Healthy Foods</div>
					</div>
					<div class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="0" data-y="top"
						data-voffset="360" data-transform_idle="o:1;"
						data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
						data-responsive_offset="on" data-start="1400">
						<div class="banner-caption-h3">With Your Affordable</div>
						<div class="banner-caption-p">
							<p>Great explorer of the truth, the master-builder of human happiness</p>
						</div>
						<a href="#" class="color1-bg contuct-us">shop now</a>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- END REVOLUTION SLIDER -->
</div> <!-- End of #banner -->





<div class="about_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12t">
				<a href="https://shop.farmerscity.com" norefrer nofollow>
					<div class="item wow fadeInLef" style="background-image: url(images/about/1.jpg);">
						<img src="/images/about/1.jpg" alt="">
					</div>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12t">
				<a href="https://shop.farmerscity.com" norefrer nofollow>
					<div class="item wow fadeInRight" style="background-image: url(images/about/2.jpg);">
						<img src="/images/about/2.jpg" alt="">
					</div>
				</a>
			</div>
		</div> <!-- End of .container -->
	</div>
</div>





<section class="why_choose_us">
	<div class="theme_title_bg" style="background-image: url(images/background/1.jpg);">
		<div class="theme_title center">
			<div class="container">
				<h2>Why to Choose Us</h2>
			</div>
		</div>

	</div>

	<div class="container">


		<div class="row">


			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left"><span class="ficon icon-fruit-1"></span></div>
					<div class="text float_left">
						<h5 class="tran3s">100% Purity Gauranteed</h5>
					</div> <!-- End of .text -->
					<div class="clear_fix"></div>
				</div> <!-- End of .choose_us_item -->
			</div> <!-- End of .col -->


			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left"><span class="ficon icon-wheat"></span></div>

					<div class="text float_left">
						<h5 class="tran3s">Any Time, Anywhere Delivery</h5>

					</div> <!-- End of .text -->
					<div class="clear_fix"></div>
				</div> <!-- End of .choose_us_item -->
			</div> <!-- End of .col -->


			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left"><span class="ficon icon-food-2"></span></div>
					<div class="text float_left">
						<h5 class="tran3s">Keeps Your Family Healthy</h5>
					</div> <!-- End of .text -->
					<div class="clear_fix"></div>
				</div> <!-- End of .choose_us_item -->
			</div> <!-- End of .col -->


			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left"><span class="ficon icon-fruit"></span></div>

					<div class="text float_left">
						<h5 class="tran3s">Clean, Fresh and Safety</h5>

					</div> <!-- End of .text -->
					<div class="clear_fix"></div>
				</div> <!-- End of .choose_us_item -->
			</div> <!-- End of .col -->
		</div>
	</div> <!-- End of .container -->
</section> <!-- End of why chooreus -->



<!--gallery Section-->
<section class="gallery">
	<div class="container">

		<div class="theme_title">
			<h3>Top Selling Products 
				<% if (currentUser) { %>
					 <button type="button" class="btn btn-primary float_right" data-toggle="modal" data-target="#myModal">
			<i class="fa fa-plus"></i>	Add New Product
			</button>
			<% } %>
			 </h3>
		</div>

		<% if (currentUser) { %>
		 
	
			<div class="modal account_page" tabindex="-1" role="dialog" id="myModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"> Add Top Selling Products</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					<div class="modal-body">
						
							<form action="/top-selling" method="post">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="form_group">
											<label>Name</label>
											<div class="input_group">
												<input name="topSelling[name]" id="name" type="text" placeholder="Heading*">
												<i class="fa fa-user" aria-hidden="true"></i>
											</div> <!-- End of .input_group -->
										</div> <!-- End of .form_group -->
			
										<div class="form_group">
											<label>Image Link</label>
											<div class="input_group">
												<input name="topSelling[image]" id="mail" type="text" placeholder="Image">
												<i class="fa fa-picture-o" aria-hidden="true"></i>
											</div> <!-- End of .input_group -->
										</div> <!-- End of .form_group -->
										<div class="form_group">
											<label>Price</label>
											<div class="input_group">
												<input name="topSelling[price]" id="mail" type="text" placeholder="Image">
												<i class="fa fa-rupee" aria-hidden="true"></i>
											</div> <!-- End of .input_group -->
										</div> <!-- End of .form_group -->
			
										<div class="form_group">
											<label>Link</label>
											<div class="input_group">
												<input name="topSelling[link]" id="slug" type="text" placeholder="Slug">
												<i class="fa fa-link" aria-hidden="true"></i>
											</div> <!-- End of .input_group -->
										</div> <!-- End of .form_group -->
										<div class="form_group">
											<label>Cart Link</label>
											<div class="input_group">
												<input name="topSelling[cartLink]" id="slug" type="text" placeholder="Cart Link">
												<i class="fa fa-link" aria-hidden="true"></i>
											</div> <!-- End of .input_group -->
										</div> <!-- End of .form_group -->
									
										<div class="form_group">
											<input type="Submit" class="btn btn-block btn-success" value="Add Product">
										</div> <!-- End of .form_group -->
									</div>
								</div> <!-- End of .row -->

							</form>
						
					</div>

				</div>
			</div>
		</div>
		<% } %>
		<div class="row filter-list clearfix">
			<!--Default Item-->
			<% topSelling.forEach(product => { %> 
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="<%= product.image %>" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="<%= product.image %>" class="fancybox" data-fancybox-group="home-gallery"
											title="Gardener Gallery" >
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="<%= product.link %>"><%= product.name %></a></h4>
									<div class="price">₹<%= product.price %>
										<!-- <span class="prev-rate">₹14.99</span> -->
									</div>
									<div class="icon-box"><a href="<%= product.cartLink %>"><span class="icon-icon-32846"></span></a></div>

	<% if (currentUser) { %>
									<div class="icon-edit">
										<a  href="#" data-toggle="modal" data-target="#<%= product._id %>" >
											<span class="fa fa-pencil bg-danger"></span>
										</a>
									</div>
									

										<div class="modal account_page" tabindex="-1" role="dialog" id="<%= product._id %>">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title"> Edit <%= product.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
												<div class="modal-body">
													
														<form action="/top-selling/<%= product.id %>?_method=PUT" method="post">
															
															<div class="row">
																<div class="col-sm-12 col-xs-12">
																	<div class="form_group">
																		<label>Name</label>
																		<div class="input_group">
																			<input name="topSelling[name]" value="<%= product.name %>" id="name" type="text" placeholder="Heading*">
																			<i class="fa fa-user" aria-hidden="true"></i>
																		</div> <!-- End of .input_group -->
																	</div> <!-- End of .form_group -->
										
																	<div class="form_group">
																		<label>Image Link</label>
																		<div class="input_group">
																			<input name="topSelling[image]" value="<%= product.image %>" id="mail" type="text" placeholder="Image">
																			<i class="fa fa-link" aria-hidden="true"></i>
																		</div> <!-- End of .input_group -->
																	</div> <!-- End of .form_group -->
																	<div class="form_group">
																		<label>Price</label>
																		<div class="input_group">
																			<input name="topSelling[price]" value="<%= product.price %>" id="mail" type="text" placeholder="Image">
																			<i class="fa fa-rupee" aria-hidden="true"></i>
																		</div> <!-- End of .input_group -->
																	</div> <!-- End of .form_group -->
										
																	<div class="form_group">
																		<label>Link</label>
																		<div class="input_group">
																			<input name="topSelling[link]" value="<%= product.link %>" id="slug" type="text" placeholder="Slug">
																			<i class="fa fa-link" aria-hidden="true"></i>
																		</div> <!-- End of .input_group -->
																	</div> <!-- End of .form_group -->
																	<div class="form_group">
																		<label>Cart Link</label>
																		<div class="input_group">
																			<input name="topSelling[cartLink]" value="<%= product.cartLink %>" id="slug" type="text" placeholder="Cart Link">
																			<i class="fa fa-link" aria-hidden="true"></i>
																		</div> <!-- End of .input_group -->
																	</div> <!-- End of .form_group -->
																
																	<div class="form_group">
																		<input type="Submit" class="btn btn-block btn-success" value="Edit Product">
																	</div> <!-- End of .form_group -->
																</div>
															</div> <!-- End of .row -->

														</form>
													
												</div>

											</div>
										</div>
									</div>
										<form  class="icon-delete" action="/top-selling/<%= product.id %>?_method=DELETE" method="post">
											<button type="submit" class="btn"><span class="fa fa-trash-o"></span></button>
										</form>
	<% } %>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%})%>


			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/shop/8.jpeg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/shop/8.jpeg" class="fancybox" data-fancybox-group="home-gallery"
											title="Gardener Gallery"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Seeds</a></h4>
									<div class="price">₹12.99 <span class="prev-rate">₹14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Default Item -->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/shop/9.jpeg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/shop/9.jpeg" class="fancybox" data-fancybox-group="home-gallery"
											title="Gardener Gallery"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Dry Fruits</a></h4>
									<div class="price">₹12.99 <span class="prev-rate">₹14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/shop/10.jpeg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/shop/10.jpeg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Fox-Nut</a></h4>
									<div class="price">₹12.99 <span class="prev-rate">₹14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits others"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/shop/12.jpeg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/shop/12.jpeg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Pickle</a></h4>
									<div class="price">₹12.99 <span class="prev-rate">₹14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty others"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/shop/5.jpeg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/shop/5.jpeg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Peanut</a></h4>
									<div class="price">₹12.99 <span class="prev-rate">₹14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</section><!-- End of section -->

<section class="news">
	<div class="container">
		<div class="theme_title center">
			<h3>our latest news</h3>
		</div>
		<div class="row">
			<% post.forEach(function(posts){ %>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img src="<%= posts.image %>" alt="News" class="img-responsive" />
						<div class="opacity tran3s">
							<div class="icon">
								<span><a href="/blog/<%= posts.myslug %>" class="border_round">+</a></span>
							</div>
							<!-- End of .icon -->
						</div>
						<!-- End of .opacity -->
					</div>
					<!-- End of .img_holder -->
					<div class="post">
						<ul>
							<li>
								<a href="/blog/<%= posts.myslug %>" class="tran3s">
									<i class="fa fa-user" aria-hidden="true"></i>
									<%= posts.author.username %>
								</a>
							</li>
							<li>
								<a href="/blog/<%= posts.myslug %>" class="tran3s">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<%= posts.date.toDateString() %>
								</a>
							</li>

						</ul>
						<div class="text">
							<h4><a href="/blog/<%= posts.myslug %>"><%= posts.heading %></a></h4>
							<p><%- posts.description.substring(0, 150)+"..." %></p>
							<div class="link">
								<a href="/blog/<%= posts.myslug %>" class="tran3s">
									READ MORE
									<span class="fa fa-sort-desc"></span>
								</a>
							</div>
						</div>
					</div>
					<!-- End of .post -->
				</div>
			</div>
			<%});%>


		</div>
	</div>
</section>



<!-- 
		<div class="our_farmer">
			<div class="container">
				<div class="theme_title center">
					<h2>our Farmers</h2>
				</div>

				<div class="row">
					<div class="service_slider owl-carousel owl-theme">

						<div class="item center">
							<div class="img_holder">
								<img src="images/team/1.jpg" alt="images">
								<div class="overlay tran3s">
									<div class="inner-box">
										<ul>
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="text">
								<h4>Rebecca Garzany</h4>
								<a href="turnaround.html">
									<h5>Pastoral Farmer</h5>
								</a>
								<p> Praising pain was born and I will give you a <br>complete account of the system.</p>
							</div>
						</div> 

						<div class="item center">
							<div class="img_holder">
								<img src="images/team/2.jpg" alt="images">
								<div class="overlay tran3s">
									<div class="inner-box">
										<ul>
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="text">
								<h4>George William</h4>
								<a href="turnaround.html">
									<h5>Arable Farmer</h5>
								</a>
								<p> Praising pain was born and I will give you a <br>complete account of the system.</p>
							</div>
						</div>

						<div class="item center">
							<div class="img_holder">
								<img src="images/team/3.jpg" alt="images">
								<div class="overlay tran3s">
									<div class="inner-box">
										<ul>
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										</ul>
									</div>

								</div>
							</div>
							<div class="text">
								<h4>Giana Fernando</h4>
								<a href="turnaround.html">
									<h5>Farm Manager</h5>
								</a>
								<p> Praising pain was born and I will give you a <br>complete account of the system.</p>
							</div>
						</div> 


					</div>
				</div>
			</div>
		</div>  -->





<div class="partners wow fadeInUp">
	<div class="container">
		<div class="theme_title center">
			<h2>our Partners</h2>
		</div>
		<div id="partner_logo" class="owl-carousel owl-theme">
			<div class="item"><img src="images/partner-logo/1.png" alt="logo"></div>
			<div class="item"><img src="images/partner-logo/2.png" alt="logo"></div>
			<div class="item"><img src="images/partner-logo/3.png" alt="logo"></div>
			<div class="item"><img src="images/partner-logo/4.jpg" alt="logo"></div>


		</div> <!-- End .partner_logo -->
	</div>
</div>






<%- include partials/footer %>